.block-container{
    direction: rtl;
    border-radius: 11px;
    background-color: rgb(255, 255, 255);
}
.main.css-uf99v8.e1g8pov65{

    background-color: rgb(255, 255, 255);

}
.css-nahz7x.eqr7zpz4 a{
    text-decoration: none;
    border-radius: 6px;
    background-color: rgb(52, 58, 47);
    padding: 11px;
}

.css-nahz7x.eqr7zpz4 a:hover{
    background-color: rgb(104, 145, 71);
    color: wheat;
}